/* Add your own styles */


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 20;
}


main {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


#controls {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#controls label {
    font-weight: bold;
}

#controls input {
    padding: 8px;
    font-size: 14px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#controls button {
    padding: 8px 12px;
    background-color: #db34ca;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#controls button:hover {
    background-color: #a921bb;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #b9296a;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


p {
    font-size: 16px;
    background: #ffecec;
    padding: 10px;
    border-left: 5px solid #ff5c5c;
}
